    <div class="col-md-12" style="text-align: center;" >
      <%= render 'flash' %>
    </div>
<!-- Header Section Start -->

    <header id="video-area" data-stellar-background-ratio="0.5">
      <div class="fixed-top">
          <div class="container">
            <div class="logo-menu">
              <a href="" class="logo"><strong style="color: #1a1a1a">BasilKabe</strong></a>
              <button class="menu-button" id="open-button" style="color: #1a1a1a;"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
          </div>
      </div>
          <div class="overlay-2"></div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow pos fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Creating Software With More Stability To Reach The Market Faster</h1>
              <p class="lead pos  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">BasilKabe is Web & Mobile App Development Company. We Are experienced in design & Develop websites, Mobile Apps and Applications.</p>
              <a href="#portfolios" class="btn pos btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms"> View Our Work</a>
            </div>

          </div>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Services</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">BasilKabe provide the following services to the clients.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="fa fa-diamond"></i>
              </div>
              <h4>ROR Web Development</h4>
              <p>Ruby on Rails application development using the best practices of MVC and OOP.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
              <div class="icon">
                <i class="fa fa-mobile"></i>
              </div>
              <h4>Mobile App Development</h4>
              <p>Native (iOS/Android/WindowsPhone) mobile application development.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <i class="fa fa-laptop"></i>
              </div>
              <h4>Angular JS</h4>
              <p>We apply Angular JS in our RoR based applications and products.</p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We Are <span>Solution Provider</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We deliver you high quality service that you will surely love!.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
              <div class="box-item left">
                <span class="icon">
                  <i class="fa fa-eye"></i>
                </span>
                <div class="text">
                  <h4>Planning</h4>
                  <p>Planning is the first process of our development phase.</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
                <div class="text">
                  <h4>Design</h4>
                  <p>In the design phase we design the prototypes and wireframing of your project.</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="fa fa-code"></i>
                </span>
                <div class="text">
                  <h4>Develop</h4>
                  <p>In the development phase we develop your projects in the different modules.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="show-box wow fadeInDown animated" data-wow-offset="10">
              <%= image_tag("features/services.png", alt: "")%>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-desktop"></i>
                </span>
                <div class="text">
                  <h4>Test</h4>
                  <p>We test your project modules according to user testing and user experience. </p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-rocket"></i>
                </span>
                <div class="text">
                  <h4>Launch</h4>
                  <p>Then we launch your project and deliver it to you.</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="fa fa-comments"></i>
                </span>
                <div class="text">
                  <h4>Support</h4>
                  <p>We provide 24/7 support to you.Contact us if you face any issue in your project</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Works</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Below is a list of the projects we have worked on and currently maintain <br> This list is updated every now and then to ensure only current projects are listed.</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center wow fadeInUp" data-wow-delay=".6s">
              <a class="control mixitup-control-active btn btn-common" data-filter="all">
                All
              </a>
              <a class="control btn btn-common" data-filter=".marketing">
                Design
              </a>
              <a class="control btn btn-common" data-filter=".planning">
                Development
              </a>
              <a class="control btn btn-common" data-filter=".research">
                Deployment
              </a>
              <a class="control btn btn-common" data-filter=".devops">
                Devops
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInUp" data-wow-delay="0.8s">
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning devops">
                <div class="portfolio-item">
                  <div class="shot-item">
                  <a class="overlay lightbox" href="http://kimchistan-dev.surge.sh" target="_blank">

                      <%= image_tag("portfolio/kimchistan.png", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                  </a>

                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix research devops">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="http://laundrytime.herokuapp.com" target="_blank">
                      <%= image_tag("portfolio/laundrytime.png", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning marketing devops">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="http://www.womanabtcake.com/index.php?" target="_blank">
                      <%= image_tag("portfolio/womanabtcake.png", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research devops">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="https://www.odiuganda.org/" target="_blank">
                      <%= image_tag("portfolio/odi.png", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix research devops">
                <div class="portfolio-item">
                  <div class="shot-item">
                    <a class="overlay lightbox" href="https://codesandbox.io/s/0x2zqkk2qv" target="_blank">
                      <%= image_tag("portfolio/whatshappening.png", alt: "")%>
                      <i class="fa fa-plus item-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Start Pricing Table Section -->
    <div id="pricing" class="section pricing-section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Pricing <span>Plans</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">BasilKabe Retainer Plans</p>
        </div>

        <div class="row pricing-tables">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-gg"></i>
              </div>
              <div class="pricing-details">
                <h2>Get a Custom Project</h2>
                <span>Contact us for a quotation</span>
                <ul>
                  <li>Project Management</li>
                  <li>Software Development</li>
                  <li>Graphic Design</li>
                  <li>Quality Assurance</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-heart"></i>
              </div>
              <div class="pricing-details">
                <h2>Ecommerce Projects</h2>
                <span>Contact us for a quotation</span>
                <ul>
                  <li>Project Management</li>
                  <li>Software Development</li>
                  <li>Graphic Design</li>
                  <li>Quality Assurance</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table table-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-diamond"></i>
              </div>
              <div class="pricing-details">
                <h2>Deployment and Server Configuration</h2>
                <span>Monthly Retainer</span>
                <ul>
                   <li>Project Management On Demand</li>
                  <li>Server purchase and Configuration</li>
                  <li>Domain name purchase and configuration</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Pricing Table Section -->

    <!-- Counter Section Start -->
    <div class="counters section" data-stellar-background-ratio="0.5">
      <div class="overlay-3"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".2s">
              <div class="facts-item">
                <div class="icon">
                  <i class="fa fa-star"></i>
                </div>
                <div class="fact-count">
                  <h3><span>6</span>+</h3>
                  <h4>Projects Completed</h4>
                </div>
              </div>
            </div>
          </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".6s">
              <div class="facts-item">
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <div class="fact-count">
                  <h3><span>6</span>+</h3>
                  <h4>Satisfied Clients</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".6s">
              <div class="facts-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="fact-count">
                  <h3><span>2</span>+</h3>
                  <h4>Active Clients</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="wow fadeInUp" data-wow-delay=".8s">
              <div class="facts-item">
                <div class="icon">
                  <i class="fa fa-heart"></i>
                </div>
                <div class="fact-count">
                  <h3><span>15</span></h3>
                  <h4>Peoples Love</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Counter Section End -->

    <!-- Contact Section Start -->
    <section id="contact" class="section">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="contact-block">
              <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Contact <span>Us</span></h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
              </div>
              <form id="contactForm">
                <div class="row">
                  <%= form_for @contact, url: home_index_path, remote: true do |f| %>
                    <div class="col-md-6">
                      <%= f.label :name %></br>
                      <%= f.text_field  :name, required: true %>
                      <div class="help-block with-errors"></div></br>

                      <%= f.label :email %></br>
                      <%= f.text_field :email, required: true %>
                      <div class="help-block with-errors"></div></br>

                      <%= f.label :subject %></br>
                      <%= f.text_field :subject, required: true %>
                      <div class="help-block with-errors"></div></br>

                      <%= f.label :message %></br>
                      <%= f.text_area :message, rows: 8, cols: 40, required: true,
                                        placeholder: "Send a message to Basil."%>
                                        <div class="help-block with-errors"></div></br>


                      <%= f.submit 'Send Message', class: 'btn btn-primary' %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->
