<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Software Company| BasilKabe</title>
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <!-- Sendpulse newsletter script -->
    <script src="//static-login.sendpulse.com/apps/fc3/build/loader.js" sp-form-id="3c37e4247c19302e825a9403d5067828aaa799442a7fbaba60d687a7f40bb959"></script>
  </head>

  <body>
  <%= render 'layouts/navigation'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
