<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Software Company| BasilKabe</title>
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <!-- Sendpulse newsletter script -->
    <script src="//static-login.sendpulse.com/apps/fc3/build/loader.js" sp-form-id="3c37e4247c19302e825a9403d5067828aaa799442a7fbaba60d687a7f40bb959"></script>

    <!-- Adsense script -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7759614006919670",
        enable_page_level_ads: true
      });
    </script>

  </head>

  <body>
  <%= render 'layouts/navigation'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
    <!-- Begin Cookie Consent from https://cookieconsent.insites.com/download/# -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      },
      "position": "bottom-right"
    })});
    </script>
    <!-- End Cookie Consent -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
